{% extends 'Navbar.html' %}
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>problem Information</title>


</head>



<body>

{% block body %}

    <h2 style="text-align:center">Booking  Information</h2>

    <table align="center">

        <thead>

            <tr>

                <th>Employee ID</th>

                <th>Name</th>

                <th>Gender</th>

                <th>Email</th>

                <th>Designation</th>

                <th>Edit</th>

                <th>Delete</th>

            </tr>

        </thead>

        <tbody>

            {% for Problem in problems %}

            <tr>

                <td>{{ Problem.proId }}</td>

                <td>{{ Problem.proName }}</td>

                <td>{{ Problem.proGender }}</td>

                <td>{{ Problem.proEmail }}</td>

                <td>{{ Problem.proDesignation }}</td>

                <td>

                    <a href="{% url 'edit' Problem.pk %}">Update</a>

                </td>

                <td>

                    <a href="{% url 'remove' Problem.pk %}">Delete</a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>



    <br><br>

    <p class="alert alert-danger" role="alert">Do you want to enter more Employees?</p>



    <p>

        <a href="{% url 'insert' %}">&lt;-- Go To Home Page</a>

    </p>

{% endblock %}



</body>

</html>